*.suo
*.user
*.cache
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
packages
*.userprefs
*.orig
Components/*/samples
Components/
Base1902.opensdf
Base1902.sdf
Base1902.VC.db
Base1902.VC.VC.opendb
ipch/
sh.exe.stackdump
